* {
    font-family: Tahoma, Verdana, sans-serif;
    font-style: normal;
}
body{
    margin: 0;
    padding: 0;
}

main{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: start;
    align-items: center;
}

#map{
    width: 78%;
    height: 900px;
}

.search-bar{
    width: 22%;
    height: 900px
}

.search-bar h1{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}